<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <style type="text/css">body{margin:30px auto;max-width:500px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px;background-color: springgreen;}h1,h2{line-height:1.4}</style>
  </head>
  <style>A {text-decoration: none;} </style>
  <body>
    <h1 style = "color: blue">ğ— ğ˜† ğ—¦ğ˜‚ğ—½ğ—²ğ—¿ ğ˜€ğ—¶ğ˜ğ—² ğ—¼ğ—³ ğ—šğ—¼ğ˜€ğ˜€ğ—¶ğ—½ğ˜€!</h1>
    <a style="color: inherit;" href="/gossips/new/"><h2 style="color: yellow"> ğ—–ğ—¿ğ—²ğ—®ğ˜ğ—² ğ—® ğ—»ğ—²ğ˜„ <em>ğ—šğ—¼ğ˜€ğ˜€ğ—¶ğ—½</em>! </h2></a>
    <h2 style="color: red"> ğ—Ÿğ—¶ğ˜€ğ˜ ğ—¼ğ—³ ğ—®ğ—¹ğ—¹ ğ—šğ—¼ğ˜€ğ˜€ğ—¶ğ—½ğ˜€: </h2>
    <% gossips.each_with_index do |gossip, ix| %>
      <p>
        <a style="color: inherit; color: snow" href="/gossips/<%= ix %>">ğ—šğ—¼ğ˜€ğ˜€ğ—¶ğ—½ <%=ix +1%>: </a><br/>
        <%="User : "%><%= gossip.author %><br/>
        <%="Gossip : "%><%= gossip.content %>
      </p> <%= "-"*30 %>
    <% end %>


  </body>
</html>
